/* 使用css的唯一目的就是为了让网页更美观 */
/* css规则由两个主要的部分构成：选择器，以及一条或多条声明（样式） */
h3{
    color: red; /* 颜色 */
    font-size: 30px; /* 字体大小 */
    /* text-align: center; 文本对齐方式 */
}
/* 全局选择器
可以与任何元素匹配，优先级最低，一般做样式初始化 */
*{
    margin:0;
    padding:0; 
}
/* 类选择器 规定用圆点来定义，针对你想要的所有标签来使用
优点：灵活 */